<% @subscriber_users_boxes.each do |box|%>
<% boxid = box.id %>
    <fieldset>
    <h3>Box Title:<%= "#{box.title}"%></h3>
    <p>Box ID <%= "#{boxid}" %></p>
    <% updated_at= Time.new("#{box.updated_at}")%>
    <p>Box Updated at:<%= updated_at.strftime("Updated on %m/%d/%Y, at %I:%M%p") %></p>
    <% created_at= Time.new("#{box.created_at}")%>
    <p>Box Created at:<%= created_at.strftime("Created on %m/%d/%Y, at %I:%M%p") %></p>
    <p>Box Belongs To User ID: <%= "#{box.user_id}"%>
    <%box.items.each do |item|%>
        <h4>item title:<%= "#{item.title}"%></h4>
        <% end %>
    <%box.box_items.each do |box_item|%>
        <h4>Item Title: <%= "#{box_item.item.title}"%></h4>
        <h4>item's quantity: <%="#{box_item.quantity}"%></h4>
        <% end %>
    <% end %>
    </fieldset>
    <% link_to admin_url %>
 <p><%= will_paginate @subscriber_users_boxes %><p>
