<% @subscriber_users_boxes.each do |box|%>
<% boxid = box.id %>
    <fieldset>
    <h3>Box Title:<%= "#{box.title}"%></h3>
    <p>Box ID <%= "#{boxid}" %></p>
    <p>Box Updated at:<%= box.updated_at.strftime("%m/%d/%Y, at %I:%M%p") %></p>
    <p>Box Created at:<%= box.created_at.strftime("%m/%d/%Y, at %I:%M%p") %></p>
    <p>Box Belongs To User ID: <%= "#{box.user_id}"%>
    <%box.items.each do |item|%>
        <h4>item title:<%= "#{item.title}"%></h4>
        <% end %>
    <%box.box_items.each do |box_item|%>
        <h4>Item Title: <%= "#{box_item.item.title}"%></h4>
        <h4>item's quantity: <%="#{box_item.quantity}"%></h4>
        <% end %>
    <% end %>
    </fieldset>
    <%= link_to "Admin Index", admin_path %>
 <p><%= will_paginate @subscriber_users_boxes %><p>
