<%= form_for(box) do |f| %>
<%= f.hidden_field :user_id %>
<% #binding.pry %>
<%#= f.hidden_field :box_id %>
    <% if box.errors.any? %>
    <div>
    <h2><%= pluralize(box.errors.count, "error") %>
    prohibited this box from being saved:</h2>
    <ul>
        <% box.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
    </ul>
    </div>
    <% end %>
<p>
<%= f.label :month %><br>
<% select_list = {Jan: 1, Feb: 2,March: 3, April: 4, May: 5, June: 6, July: 7, Aug: 8, Sept: 9, Oct: 10, Nov: 11, Dec: 12 }%>
<%= f.select :month, select_list%><br>
<%= f.label :year %><br>
<%= f.text_field :year%><br>
<%= f.label :title %><br>
<%= f.text_field :title%><br>
<%= f.label :shipped %><%= f.check_box :shipped %><br>
<%= f.label :site %><br>
<% select_list = {Neches_5614: 1, Judiway_1245: 2,PostOak_11500: 3, Central_1502: 4, Westpark_5900: 5 }%>
<%= f.select :site, select_list%><br>
<%= f.label :task %><br>
<% select_list = {Quarterly_Inspection_PM: 1, Weekly_Facility_Inspection_DAD: 2,Spill_Response_FM: 3, Monitoring_Pollution_Control_Monthly_Vendor: 4, Manifest_Truck_Wash_Quarterly_Vendor: 5, Visual_Quarterly_DAD_FM: 6, Benchmark_Semi_Annual_Vendor: 7, Inspection_Annual_All_SW3P: 8, Signature_Annual__COO:9 }%>
<%= f.select :task, select_list%><br>
<%= f.label "Select Item"%><br>
<%= f.collection_check_boxes :item_ids, @item, :id, :title, prompt: true %><br>
<%= f.fields_for :items do |item_fields| %>
<%= item_fields.label :items_title %><br>
<%= item_fields.text_field :title %><br>
<% end %>
</p>
<%= f.submit %>
<% end %>